{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Shoptimize{% else %}Welcome to Shoptimize{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5B6057;">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}" style="color: white;">Shoptimize</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}" style="color: white;">Home</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}" style="color: white;">Login</a>
                        </li>
                    {% else %}
                        {% if current_user.position == 'manager' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('add_items')}}" style="color: white;">Inventory Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('search_items')}}" style="color: white;">All Items</a>
                            </li>
                     <li class="nav-item">
                                <a class="nav-link" href="{{url_for('scarce_item')}}" style="color: white;">Scarce Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('dashboard')}}" style="color: white;">Dashboard</a>
                            </li>
                        {% elif current_user.position == 'cashier' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('search_items_cashier')}}" style="color: white;">Sell Item</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('dashboard')}}" style="color: white;">Dashboard</a>
                            </li>
                        {% elif current_user.position == 'admin' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('top_selling_items')}}" style="color: white;">Top Selling Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('sales_and_profit')}}" style="color: white;">Sales and Profit</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('dashboard')}}" style="color: white;">Dashboard</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}" style="color: white;">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <!-- Apply background color to the body tag -->
    <body style="background-color: #CEDFD9;background-image: url('PycharmProjects/Shoptimize/app/Assets/s_m.jpg'); background-size: cover; background-repeat: no-repeat;">

        <div class="container" style="padding-top: 20px; padding-bottom: 20px; border-radius: 10px;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block app_content %}{% endblock %}
        </div>
    </body>
{% endblock %}
