{% extends "base.html" %}

{% block app_content %}
<h1 style="text-align: center ; margin: 20px"> Shoptimize</h1>
    <div class="container">
        <div style="background-color: #f8f8f8; padding: 20px; border-radius: 10px; width: 40%; margin: 20px auto; text-align: center;">

            <h2>Login</h2>
            <form action="" method="post" novalidate style="text-align: center;">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username(size=32, placeholder="Username") }}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password(size=32, placeholder="Password") }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.position() }} <br>
                    {% for error in form.position.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <button type="submit" class="btn btn-primary" style="width: 72%;">Login</button>
            </form>
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </div>
    </div>
{% endblock %}
