{% extends 'base.html' %}

{% block app_content %}
<div class="container">
    <div style="background-color: #f8f8f8; padding: 20px; border-radius: 10px; width: 80%; margin: 20px auto;">
        <h2>{{ title }}</h2>

        <form method="post" action="{{ url_for('sales_and_profit') }}">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="search">Search:</label>
                <input type="text" id="search" name="search" placeholder="Id or Name" {% if form.search.data is not none %}value="{{ form.search.data }}"{% endif %}>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>

        </form>

        <table class="table table-bordered" style="width: 80%;">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Item Name</th>
                    <th>Buying Price</th>
                    <th>Quantity Sold</th>
                    <th>Gross Sales</th>
                    <th>Profit</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.name }}</td>
                    <td>{{ sale.buying_price }}</td>
                    <td>{{ sale.quantity }}</td>
                    <td>{{ sale.selling_price }}</td>
                    <td>{{ sale.profit }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6">
                <strong>Total Sales:</strong> {{ total_sales }}
            </div>
            <div class="col-md-6">
                <strong>Total Profit:</strong> {{ total_profit }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
