{% extends "base.html" %}

{% block app_content %}
  <div class="container">
        <div style="background-color: #f8f8f8; padding: 20px; border-radius: 10px; width: 80%; margin: 20px auto;">
        <h2>Scarce Item</h2>
     <table class="table table-bordered" style="width: 80%;">
            <thead class="thead-light">
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
  </thead>
        <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>

        </tr>
        {% endfor %}
         </tbody>
    </table>
        </div></div>
{% endblock %}
